@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model GameForum.ViewModel.CategoryPostsViewModel

@section Breadcrumbs{
    <div class="breadcrumbs my-brdr-btm">
        <div class="container">
            <ol class="my-bcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Forum</a></li>
                <li class="breadcrumb-item active">@Model.Category.Name</li>
            </ol>
        </div>
    </div>
}

<div class="space"></div>

<h1 class="text-light d-inline-block float-left">@Model.Category.Name</h1>
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-mist d-inline-block float-right mt-1" asp-controller="Post" asp-action="CreatePost" asp-route-categoryId="@Model.Category.Id">New Post</a>
}

<table class="table text-light mt-4">
    <thead>
        <tr>
            <td>Topic</td>
            <td>Author</td>
            <td>Likes</td>
            <td>Replies</td>
            <td>Activity</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr class="clickable-row" onclick="postClicked(@post.Id)">
                <td>@post.Title</td>
                <td>@post.Author?.UserName</td>
                <td>@post.LikeCount</td>
                <td>@(post.Replies == null ? 0 : post.Replies.Count)</td>
                <td>@(post.Replies is null || post.Replies.Count == 0 ? post.LastActivity : post.Replies[post.Replies.Count - 1].LastActivity)</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function postClicked(postId) {
            window.location.href = "/Post/" + postId
        }
    </script>
}