@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model GameForum.ViewModel.PostViewModel

@section Breadcrumbs{
    <div class="breadcrumbs my-brdr-btm">
        <div class="container">
            <ol class="my-bcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Forum</a></li>
                <li class="breadcrumb-item"><a asp-controller="Post" asp-action="Index" asp-route-categoryId="@Model.Category.Id">@Model.Category.Name</a></li>
                <li class="breadcrumb-item active">@Model.Title</li>
            </ol>
        </div>
    </div>
}

<div class="space"></div>
<div class="row align-items-center text-light">
    <div class="col-md-9 m-auto">
        <h1>@Model.Title</h1>
        <h2 class="text-muted">@Model.Category.Name</h2>
        <partial name="_PostPartial" />
        @foreach (var reply in Model.Replies)
        {
            <partial name="_ReplyPartial" model="@reply" />
        }
    </div>
</div>

@section Scripts{
    <script>
        function likeClicked(type, id) {
            if (@(SignInManager.IsSignedIn(User) ? "true" : "false") == false) {
                window.location.href = "/Identity/Account/Login";
                return;
            }
            if (type === "post") {
                $.ajax({
                    type: "POST",
                    url: "/Post/LikePost/" + id,
                    success: function (like) {
                        const countElement = document.getElementById("post").getElementsByTagName("span").item(0);
                        const currentLikes = countElement.innerHTML;
                        const iconElement = document.getElementById("post").getElementsByTagName("i").item(0);
                        if (like == -1) {
                            iconElement.classList.remove("fas");
                            iconElement.classList.add("far");
                        }
                        else if (like == 1) {
                            iconElement.classList.remove("far");
                            iconElement.classList.add("fas");
                        }
                        countElement.innerHTML = (parseInt(currentLikes) + like);
                        console.log("liked the post", + like);
                    }
                });
            }
            if (type === "reply") {
                $.ajax({
                    type: "POST",
                    url: "/Post/LikeReply/" + id,
                    success: function (like) {
                        const countElement = document.getElementById("reply"+id).getElementsByTagName("span").item(0);
                        const currentLikes = countElement.innerHTML;
                        const iconElement = document.getElementById("reply"+id).getElementsByTagName("i").item(0);
                        if (like == -1) {
                            iconElement.classList.remove("fas");
                            iconElement.classList.add("far");
                        }
                        else if (like == 1) {
                            iconElement.classList.remove("far");
                            iconElement.classList.add("fas");
                        }
                        countElement.innerHTML = (parseInt(currentLikes) + like);
                        console.log("liked the reply", + like);
                    }
                });
            }
        }
    </script>
}
